@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #191919;
    font-family: "Quicksand", "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; /* Inter */
    font-feature-settings: normal;
    font-variation-settings: normal;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

canvas {
    height: 100% !important;
    width: 100% !important;
}

/* DPP table ctx*/
#dpp-ctx {
    background-color: #f6f7f8;
    border-radius: 1rem;
    border: 1px solid #8a8a8a66;
    box-shadow: rgba(0, 0, 0, .5) 0 -1px 8px 3px;
    cursor: default;
    left: 1rem;
    padding: 0.75rem 0.25rem 0.25rem;
    position: absolute;
    top: 1rem;
    width: 22rem;
}

/* DPP context object container */
#dpp-ctx div.container {
    max-height: 25rem;
    overflow-y: auto;
}

#dpp-ctx div.container::-webkit-scrollbar-track {
    border-radius: 8px;
}

#dpp-ctx div.container::-webkit-scrollbar {
    width: 8px;
}

#dpp-ctx div.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

/* DPP item */
#dpp-ctx div.container div.dpp {
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

#dpp-ctx div.container div.dpp + div.dpp {
    margin-top: 0.25rem;
}

#dpp-ctx div.container div.dpp:hover {
    background-color: rgba(204, 204, 204, 0.78);
}

#dpp-ctx div.container div.dpp div.title {
    font-size: 1.1rem;
    font-weight: 600;
}

#dpp-ctx div.container div.dpp div.material {
    font-style: italic;
    font-size: 0.9rem;
}

#dpp-ctx div.container div.dpp div.property {
    display: flex;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    opacity: 0.9;
}

#dpp-ctx div.container div.dpp div.property div.label {
    float: left;
    width: 40%;
}

#dpp-ctx div.container div.dpp div.property div.value {
    width: 60%;
}

#dpp-ctx div.author {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.25rem;
    text-align: right;
}

#dpp-ctx div.author svg {
    height: 1rem;
    position: relative;
    top: 2px;
    width: 1rem;
}

/* Range containers for visual percentage bars */
:root {
    --range-container-height: 0.25rem;
}

div.range-container {
    background: linear-gradient(to right, red, green);
    border-radius: 0.25rem;
    height: var(--range-container-height);
    position: relative;
    top: var(--range-container-height);
    width: 100%;
}

div.range-container div.marker {
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), /* Inner shadow */ 0 0 5px rgba(0, 0, 0, 0.5); /* Outer shadow */
    height: calc(2 * var(--range-container-height));
    position: absolute;
    top: calc(-1 * var(--range-container-height));
    transform: translateX(-50%);
    width: calc(2 * var(--range-container-height));
}